{% extends "base.html" %}

{% block content %}
      <h1>Orders</h1>
       <a href="neworder">Create an order</a>

        <table>
            <tr>
              <td>Cart ID</td>
              <td>Product ID</td>
              <td>Customer</td>
              <td>Address</td>
              <td>Card Type</td>
              <td>Order Status</td>

            </tr>
            {% for order in orders %}
            <tr>
              <td><a href="order?orderID={{ order.orderID }}">{{ order.orderID }}</a></td>
              <td>{{ order.productID }} </td>
              <td>{{ order.Customer }} </td>
              <td>{{ order.Address }} </td>
              <td>{{ order.cardType }}</td>
              <td>{{ order.orderStatus }} </td>
            </tr>



        {% endfor %}
        </table>
    <br><br><a href="/main">Return to Main Menu</a><br><br>



{% endblock %}
