{% extends "base.html" %}

{% block content %}
    <h1>Main menu</h1>
    {% if msg %}
      <div id="">
        {{ msg }}
      </div>
    {% endif %}
    <br>

        <table>
            <tr>
              <td>ID</td>
              <td>Product Name</td>
              <td>Size</td>
              <td>Shoe Height</td>
            </tr>
            {% for product in products %}
            <tr>
              <td><a href="storecart?productID={{ product.productID }}">{{ product.productID }}</a></td>
              <td>{{ product.productName }} </td>
              <td>{{ product.productSize }}</td>
              <td>{{ product.productShoeHeight }}</td><br>
            </tr>



        {% endfor %}
        </table>

    <br><br><br><br><a href="/main">Return to Main Menu</a><br><br>



{% endblock %}
