{% extends "base.html" %}

{% block content %}
    <h1>Here's your shoe information!</h1>
    <form action="/createOrder" method="POST">
        Product Name: <br>
        <input type="text" name="productName" value="{{ product.productName }}" /><br><br>

        Product Name: <br>
        <input type="text" name="productSize" value="{{ product.productSize }}" /><br><br>

        <input type="hidden" name="productID" value="{{ product.productID }}"/>

        <input type="submit" value="Purchase this item">
    </form>
{% endblock %}
