{% extends "base.html" %}

{% block content %}
      <h1>Here's what you've put in your cart so far!</h1>

        <table>
            <tr>
              <td>Cart ID</td>
              <td>Product ID</td>
              <td>User ID</td>
              <td>Order Status</td>
            </tr>
            {% for cart in carts %}

            <tr>
              <td><a href="cart?cartID={{ cart.cartID }}">{{ cart.cartID }}</td>
              <td>{{ cart.productID }} </td>
              <td>{{ cart.userID }} </td>
              <td>{{ cart.orderStatus }} </td>

            </tr>



        {% endfor %}
        </table>
    <br><br><a href="/main">Return to Main Menu</a><br><br>



{% endblock %}
