<h1>Welcome to the Sneaker Store</h1>
<hr>
If you're a customer, please click the customer link to sign in. <br>
If you're an administrator, please click the administrator link to sign in. <br>
If you're new and do not have an account, please create one! <br><br>
Thank you! <br>
<br>
<div>For Customer site: <a href="/login">Customer</a></div>
<br><br>
<div>For Administrator site: <a href="/loginadmin">Administrator</a></div>
<br><br>
<div>To create an account: <a href="/brandnewuser">Create Account</a></div>
